.listView{
    user-select: none;
    padding-top: 15px;
    padding-bottom: 30px;
    width: 30%;
    height: 100%;
    overflow: auto;

    .optionGroup{
        width: 100%;

        .title{
            //title_code

            .arrow{
                transition: .05s ease-in-out;
                // background-image: url("../ico/contraer.png");
                background-repeat: no-repeat;
                background-size: 15px 15px;
                background-position: center;
                transition: .25s ease-in-out;
                transform: rotate(180deg);
            }
        }

        :nth-child(n){
            display: flex;
            align-items: center;
            padding: 0 8px;
            height: 36px;
            cursor: pointer;
            // background: red;
            // outline: solid red 1px;
        }

        .option{
            padding-left: 48px;
            transition: .15s ease-in-out;
        }

        &.close>.option{
            display: none;
        }
        
        &.close>.title .arrow{
            transform: rotate(90deg)
        }
    }

    &::-webkit-scrollbar{
        transition: .25s ease-in-out;
        width: 10px;
        &-thumb{
            background: gray;
        }
    }

    // &::-webkit-scrollbar-thumb{
    // }
}
